#navBar {
    background-color: #FFFFFF;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    z-index: 1000;
}

.cinematch {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 60px;
    letter-spacing: -1px;
    color: var(--color-6);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.buttons-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-cadastro, .button-login, .button-home, .button-selecao {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button-home, .button-selecao {
    border: none;
    padding: 10px 20px;
    background-color: white;
    color: #747171;
}

.button-home:hover, .button-selecao:hover {
    color: black;
    font-weight: bold;
}

.button-home.active, .button-selecao.active {
    color: black;
    font-weight: bold;
    border-bottom: 3px solid #ff4d4d; /*Linha embaixo*/
}

.button-login, .button-cadastro{
    background-color: var(--color-2);
    color: var(--color-1);
    border: none;
    padding: 8px 16px;
    border-radius: 7px;
    margin-right: 15px;
}

.button-cadastro {
    background-color: #EE375E;
    color: white;
}

.username {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
    color: #EE375E;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}
  
.username:hover {
    font-weight: bold;
  }

.username.active {
    color: ff4d4d;
    font-weight: bold;
    border-bottom: 3px solid black; /*Linha embaixo*/
}