.container_login {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente os filhos */
    align-items: center; /* Centraliza verticalmente os filhos */
    height: 100%; /* Garante que ocupe toda a altura do body */
    gap: 20px; /* Espaço entre seções */
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
}

.container_informations, .container_register {
    color: white;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    gap:4%; 
    height: 80%;
    width: 35%;
    align-items: center;
    border-radius: 10px;
    background: #161616;
    padding-top: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.field_with_eye {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input_box {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    padding-left: 40px; 
}

.eye-icon {
    position: absolute;
    right: 10px; 
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.eye-icon img {
    width: 20px;
    height: 20px;
    transition: opacity 0.3s ease;
}

.eye-icon:active img {
    opacity: 0.6;
}

.container_title_input {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente os filhos */
    align-items: left;
    width: 90%;
    gap: 8px;

}

.input_box {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s ease;  
}

.toggle_form {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
  }
  
  .toggle_form:hover {
    text-decoration: underline;
  }

.button_config{
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button_config:hover {
    background-color: blueviolet;
    border-color: blueviolet;
    color: white;
    transition: background-color 0.3s ease;
  }
  
