@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body, html {
    font-family: 'Poppins', sans-serif; /* Aplica a fonte Poppins a todo o documento */
    height: 100%; /* Garante que ocupe toda a altura do body */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_login {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente os filhos */
    align-items: center; /* Centraliza verticalmente os filhos */
    height: 100%; /* Garante que ocupe toda a altura do body */
    gap: 20px; /* Espaço entre seções */
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
}

.container_informations, .container_register {
    color: white;
    display: flex;
    font-weight: normal;
    flex-direction: column;
    justify-content: flex-start; /* Alinha os filhos ao topo */
    align-items: flex-start; /* Alinha os filhos à esquerda */
    gap: 2%; 
    height: 75%;
    width: 30%;
    border-radius: 10px;
    background: #ffffff;
    padding: 25px; /* Adiciona preenchimento interno */
    margin-left: 54%;
    margin-top: 7%;
}

.container_image_film {
    position: absolute; /* Posiciona o contêiner de forma absoluta */
    top: 60px; /* Alinha o topo do contêiner com o topo da página */
    left: 0; /* Alinha o contêiner à esquerda */
    width: 50%; /* Define a largura do contêiner como 50% da página */
    height: calc(100vh - 60px); /* Define a altura do contêiner, subtraindo a altura da navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616;
    box-sizing: border-box;
}

.container_image_film img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
    height: 100%; /* Garante que a imagem ocupe toda a altura do contêiner */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
}

.field_with_eye {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input_box {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    padding-left: 40px; 
}

/* Container que possui o ícone do olho7
=> Mudanças: a imagem agora vai ser com o olho cortado e sem ser cortado,
com adição de um texto dizendo para esconder ou não */
.eye-icon {
    position: absolute;
    right: 10px; 
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

/* imagem do olho */
.eye-icon img {
    width: 20px;
    height: 20px;
    transition: opacity 0.3s ease;
}

/* imagem do olho quando clicada */
.eye-icon:active img {
    opacity: 0.6;
}

/* Container pai que contém qual a informação que vai ser armazenada no campo de escrita
OBS*: Esse container é filho do container information e container register */
.container_title_input {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente os filhos */
    align-items: left;
    width: 90%;
    gap: 8px;
    margin-bottom: 5%;
}

/* Estilo para os rótulos dos blocos de usuário e senha */
.container_title_input p {
    color: rgb(100, 100, 100); /* Altere esta cor conforme necessário */
}

/* Estilo para o título quando isRegistering é true */
.title-register {
    color: #04227A;
    font-size: 250%;
    margin-bottom: 2%;
}

.title-login {
    color: #9A6300;
    font-size: 250%;
    margin-bottom: 2%;
}

/* Estilo para o texto adicional dentro dos títulos */
.title-register p, .title-login p {
    color: rgb(100, 100, 100); /* Cor diferente dos títulos */
    font-size: 18px;
    margin-top: 10px; /* Espaço acima do texto adicional */
    margin-bottom: 20px; /* Espaço abaixo do texto adicional */
}

/* Container filho do container title_input
=> Container onde serão colocados as informações */
.input_box {
    padding: 5%;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s ease;
    border: 2px solid #333; /* Define a cor e a espessura da borda */  
}

.toggle_form {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    color: #333;
    margin-left: -25%;
  }
  
  .toggle_form:hover {
    text-decoration: underline;
  }

.button_config_register{
    background-color: #04227A;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    padding: 5% 20%;
    cursor: pointer;
    font-size: 140%;
    transition: background-color 0.3s ease;
}

.button_config_register:hover {
    background-color: rgb(0, 0, 131);
    border-color: rgb(52,52,148);
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .button_config_login{
    background-color: #9A6300;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    padding: 5% 20%;
    cursor: pointer;
    font-size: 140%;
    transition: background-color 0.3s ease;
}

.button_config_login:hover {
    background-color: #664200;
    border-color: #ce8600;
    color: white;
    transition: background-color 0.3s ease;
  }