/* .container_runtime_selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: 96vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}


.left-section_tempo {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  padding: 5px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  line-height: 1.2;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  height: 100%;
  position: relative;
  padding: 5px;
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  position: relative;
  margin-bottom: 20px;
}

.timeline::after {
  content: "";
  position: absolute;
  top: 50%; 
  left: calc(12px + 20px); 
  right: calc(12px + 20px); 
  height: 2px; 
  background-color: white;
  transform: translateY(-50%);
  z-index: 0; 
}

.time-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1; 
}

.time-point::before {
  content: "";
  width: 4vh;
  height: 4vh;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.time-point.selected::before {
  background-color: blueviolet;
  width: 4vh;
  height: 4vh;
  border: none;
}

.time-label {
  margin-top: 10vh; 
  font-size: 1.3rem;
  text-align: center;
  color: white;
}

.button-left, .button-right {
  position: absolute;
  display: flex;
  align-items: center;
  width: 150px;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 1rem; 
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  bottom: 60px;
  color:blueviolet;
  box-shadow: 0 0 0 1px blueviolet;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button-left{
  left: 100px;
}

.button-right{
  right: 100px;
}

.button-right svg, .button-left svg {
  position: absolute;
  width: 24px;
  fill: blueviolet;
  z-index: 9;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}


.button-left .arr-1 {
  left: 16px; 
  transform: scaleX(-1); 
}

.button-left .arr-2 {
  right: -25%;
  transform: scaleX(-1);
}

.button-right .arr-1 {
  right: 16px;
}

.button-right .arr-2 {
  left: -25%;
}

.button-left .circle, .button-right .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.button-right .text {
  transform: translateX(-12px);
}

.button-left .text {
  transform: translateX(12px); 
}

.button-left .text, .button-right .text {
  position: relative;
  z-index: 1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.button-left:hover, .button-right:hover {
  box-shadow: none;
  color: #212121;
  background-color: blueviolet;
}


.button-left:hover .arr-1 {
  left: -25%; 
}

.button-left:hover .arr-2 {
  right: 16px; 
}

.button-left:hover .text {
  transform: translateX(-12px); 
}

.button-left:hover svg {
  fill: #212121;
}

.button-right:hover .arr-1 {
  right: -25%;
}

.button-right:hover .arr-2 {
  left: 16px;
}

.button-right:hover .text {
  transform: translateX(12px);
}

.button-right:hover svg {
  fill: #212121;
}

.button-left:active, .button-left:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px blueviolet;
}
 */
