.container_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.container_register {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 75%;
    width: 30%;
    gap: 5%;
    border-radius: 10px;
    background: #ffffff;
    padding: 1%;
    margin-left: 54%;
    margin-top: 4.5%;
}

.container_image_film {
    position: absolute;
    top: 40px;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #161616;
    box-sizing: border-box;
}

.container_image_film img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.container_title_input {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.container_title_input p {
    color: rgb(100, 100, 100);
}

.title-register {
    color: #04227A;
    font-size: 250%;
    margin-bottom: 2%;
    font-weight: 500;
}

.title-register p {
    color: rgb(100, 100, 100);
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: normal;
}

.field_with_eye {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input_box {
    width: 100%;
    padding: 5% 20%;
    font-size: 16px;
    border-radius: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    padding-left: 40px;
    border: 2px solid rgba(102, 102, 102, 0.35);
}

.eye-icon {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.eye-icon img {
    width: 20px;
    height: 20px;
    transition: opacity 0.3s ease;
}

.eye-icon:active img {
    opacity: 0.6;
}

.toggle_form_login {
    cursor: pointer;
    text-decoration: none;
    color: rgba(102, 102, 102, 1);
    padding-left: 5px;
}

.toggle_form_login:hover {
    text-decoration: underline;
    color: #04227A;
}

.button_config_register {
    background-color: rgba(4, 34, 122, 0.35);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 5% 20%;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-top: 7%;
}

.button_config_register:hover {
    background-color: #04227A;
    border-color: #04227A;
    color: white;
    transition: background-color 0.3s ease; 
}

/* 
.button_config_login {
    background-color: rgba(154, 99, 0, 0.35);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 5% 20%;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s ease;
    font-weight: bolder;
    margin-top: 7%;
}

.button_config_login:hover {
    background-color: #9A6300;
    border-color: rgb(229, 213,0); 
    color: white;
    transition: background-color 0.3s ease; 
}


*/
