/* Container principal */
:root {
    --cor-L: #00A44Eff;
    --cor-10: #0095D9ff;
    --cor-12: #FECA03ff;
    --cor-14: #F5811Eff;
    --cor-16: #EC1A23ff;
    --cor-18: #000000ff;
}

.container_rating_selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Título */
.titulo,
h1 {
    font-size: 4.5em;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
    color: white;
}

/* Lado esquerdo */
.lado_esquerdo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    margin: 0;
}

/* Lado direito */
.lado_direito {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    width: 100%;
}

.button-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0.5vh;
    height: 9vh;
    font-size: 1rem;
    cursor: pointer;
    padding: auto;
    background-color: transparent;
    border: transparent;
}

.value {
    color: white;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 2em;
}

/* Class para opções no lado esquerdo */
.option {
    background-color: #161616;
    color: white;
    flex: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition:
    background-color 0.3s ease,
    border-color 0.4s ease,
    transform 0.4s ease;
}

/* Estilos gerais para o background */
#value-L, #value-10, #value-12, #value-14, #value-16, #value-18 {
    background-color: var(--cor-L);
}

#value-10 { background-color: var(--cor-10); }
#value-12 { background-color: var(--cor-12); }
#value-14 { background-color: var(--cor-14); }
#value-16 { background-color: var(--cor-16); }
#value-18 { background-color: var(--cor-18); }
 

.button-option:hover #option-L { 
    border: 1px solid var(--cor-L);
    color: var(--cor-L);
}
.button-option:hover #option-10 { 
    border: 1px solid var(--cor-10);
    color: var(--cor-10);
}
.button-option:hover #option-12 { 
    border: 1px solid var(--cor-12);
    color: var(--cor-12);
}
.button-option:hover #option-14 { 
    border: 1px solid var(--cor-14);
    color: var(--cor-14);
}
.button-option:hover #option-16 { 
    border: 1px solid var(--cor-16);
    color: var(--cor-16);
}
.button-option:hover #option-18 { 
    border: 1px solid var(--cor-18);
    color: var(--cor-18);
}

/* Estilos para a opção selecionada */
.button-option.selected #option-L, 
.button-option.selected #option-10, 
.button-option.selected #option-12, 
.button-option.selected #option-14, 
.button-option.selected #option-16, 
.button-option.selected #option-18 {
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.button-option.selected #option-L { background-color: var(--cor-L); }
.button-option.selected #option-10 { background-color: var(--cor-10); }
.button-option.selected #option-12 { background-color: var(--cor-12); }
.button-option.selected #option-14 { background-color: var(--cor-14); }
.button-option.selected #option-16 { background-color: var(--cor-16); }
.button-option.selected #option-18 { background-color: var(--cor-18); }

@media screen and (max-width: 768px) {
    .button-option {
        width: 80%;
    }
}