/* Estilos gerais do container */
.Conteiner-final-da-fila {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Para garantir que o conteúdo ocupe toda a tela */
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto; 
  }
  
  /* Estilo para a imagem */
  #flock-triste {
    height: 40%;  
    max-width: 400px; 
    margin-bottom: 30px; 
    border-radius: 10px; 
  }

  #botoes {
    display: flex;
    justify-content: center;
    gap: 8px; /* Reduzido de 10px para 8px */
  }
  
  .botao-refazer-selecao {
    padding: 10px 20px; /* Reduzi o padding */
    background-color: #1B1F3A;
    color: white;
    border-radius: 6px; /* Bordas menores */
    font-size: 0.9em; /* Fonte ligeiramente menor */
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #3D348B; /* Bordas mais finas */
  }
  
  .botao-refazer-selecao:hover {
    background-color: #3D348B;
  }
  
  .botao-refazer-selecao:focus {
    outline: none;
    color: black; /* Cor da fonte quando o botão está em foco */
  }
  
  /* Efeitos visuais ao passar o mouse */
  .botao-refazer-selecao:active {
    transform: scale(0.95); /* Redução ligeiramente maior ao clicar */
  }
  

