.main_container {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 96vw;
  background-color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

.left-section_genres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  position: relative;
}

.title_genres {
  display: center;
  font-size: 4.5rem;
  line-height: 1.2;
  text-decoration: underline;
}

.right-section-genres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
  position: relative;
}

.genres-container {
  display: flex;
  flex-wrap: wrap; 
  row-gap: 0px;
  column-gap: 10px; 
  justify-content: center; 
  align-items: center; 
  /* border: 2px solid black; */
  height: 50%;
}

.genres-container > * {
    flex: 0 0 calc(33.33% - 20px); /* Ajusta para 3 botões por linha (com o gap) */
    max-width: calc(33.33% - 20px); /* Limita a largura máxima dos itens */
    box-sizing: border-box;
    text-align: center;
  }

.genre-button {
  display: flex; /* Habilita o uso de flexbox no botão */
  justify-content: center; /* Alinha o texto horizontalmente ao centro */
  align-items: center; /* Alinha o texto verticalmente ao centro */
  padding: 23px 17px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


.genre-button.selected {
  background-color: black;
  color: white;
  border-color: black;
}

.genre-button:hover {
  background-color: #e0e0e0;
}

.add_button-container {
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 15%;
    font-size: 1.5rem;
    background-color: white;
    cursor: pointer;
  }

.add-button {
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: white;
  cursor: pointer;
  border: 2px solid black;
}

.add-button:hover {
  background-color: #e0e0e0;
}

.next-button {
  position: absolute;
  bottom: 60px;
  right: 100px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-button:hover {
  background-color: #444;
}