/* Layout Principal */
.container_genre_selection {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
  height: 100%;
  width: 90%; 
  gap: 20px; 
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto; 
}

/* Seção Esquerda */
.left-section_genres {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo internamente */
  align-items: center;
  flex: 1; /* 1 parte da proporção */
  height: 100%; /* Ocupa toda a altura */
  position: relative;
}

/* Seção Direita */
.right-section-genres {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo internamente */
  align-items: center;
  flex: 2; /* 2 partes da proporção */
  height: 100%; /* Ocupa toda a altura */
  position: relative;
}

/* Título */
.title_genres {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  line-height: 1.2;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
}

/* Contêiner de Gêneros */
.genres-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  max-height: 300px; /* Defina a altura máxima */
  overflow-y: auto; /* Ativa a rolagem vertical */
  padding: 10px;

  border-radius: 10px;
}

.genres-container::-webkit-scrollbar {
  width: 8px;
}

.genres-container::-webkit-scrollbar-track {
  background: #1B1F3A;
  border-radius: 10px;
}

.genres-container::-webkit-scrollbar-thumb {
  background: #3D348B;
  border-radius: 10px;
}

.genres-container::-webkit-scrollbar-thumb:hover {
  background: #5A46AD;
}

/* Botões */
.genres-container > * {
  flex: 0 0 calc(33.33% - 20px); /* Ajusta para 3 botões por linha */
  max-width: calc(33.33% - 20px);
  box-sizing: border-box;
  text-align: center;
}

.genre-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px; /* Ajuste o padding se necessário */
  border: 2px solid #3D348B;
  border-radius: 25px;
  background-color: #1B1F3A;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: white;
}

.genre-button.selected {
  background-color: rgb(167, 169, 209);
  color: #1B1F3A;
  border-color: #1B1F3A;
}

.genre-button:hover {
  background-color: #3D348B;
}

.add-button {
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid #3D348B;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: #1B1F3A;
  cursor: pointer;
  color: white;
}

.add-button:hover {
  background-color: #3D348B;
}

.nav-button-right {
  color: white;
  background-color: #1B1F3A;
  border: #3D348B;
}

.nav-button-right:hover {
  background-color: #3D348B;
}

.refazer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
  flex-direction: column;
}