/* Layout Principal */
.main_container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centraliza horizontalmente os filhos */
  align-items: center; /* Centraliza verticalmente os filhos */
  height: 100%; /* Garante que ocupe toda a altura do body */
  width: 100%; /* Garante que ocupe toda a largura da tela */
  max-width: 1200px; /* Limita a largura máxima */
  gap: 20px; /* Espaço entre seções */
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto; /* Centraliza o contêiner horizontalmente */
}

/* Seção Esquerda */
.left-section_genres {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo internamente */
  align-items: center;
  flex: 1; /* 1 parte da proporção */
  height: 100%; /* Ocupa toda a altura */
  position: relative;
}

/* Seção Direita */
.right-section-genres {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo internamente */
  align-items: center;
  flex: 2; /* 2 partes da proporção */
  height: 100%; /* Ocupa toda a altura */
  position: relative;
}

/* Título */
.title_genres {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  line-height: 1.2;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
}

/* Contêiner de Gêneros */
.genres-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  height: 50%;
}

/* Botões */
.genres-container > * {
  flex: 0 0 calc(33.33% - 20px); /* Ajusta para 3 botões por linha */
  max-width: calc(33.33% - 20px);
  box-sizing: border-box;
  text-align: center;
}

.genre-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px; /* Ajuste o padding se necessário */
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.genre-button.selected {
  background-color: black;
  color: white;
  border-color: black;
}

.genre-button:hover {
  background-color: #e0e0e0;
}

.add-button {
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: white;
  cursor: pointer;
}

.add-button:hover {
  background-color: #e0e0e0;
}
