/* Estilo para o contêiner da última página */
#conteiner_last_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1B1F3A;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto; 
}

.last-page-text {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

#flock-comendo-pipoca {
  height: 50%;  
  max-width: 400px; 
  margin-bottom: 30px; 
  border-radius: 10px; 
}
