  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  .last-page-text {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
.central{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    height: 100vh;          /* Define a altura total da janela */
    width: 100vw;
}

#container_loading{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    height: 100vh; 
    width: 100vw;         /* Define a altura total da janela */
}