.container_login {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente os filhos */
    align-items: center; /* Centraliza verticalmente os filhos */
    height: 100%; /* Garante que ocupe toda a altura do body */
    gap: 20px; /* Espaço entre seções */
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
}

.container_informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5%; /* Centraliza horizontalmente os filhos */
    height: 70%;
    width: 35%;
    align-items: center;
    border: 1px solid #3D348B;
    border-radius: 10px;
 /* Centraliza verticalmente os filhos */
}

.container_register {
    display: flex;
    height: 70%;
    width: 35%;
    gap:5%;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente os filhos */
    align-items: center;
    border: 1px solid #3D348B;
    border-radius: 10px;
    margin: 0 auto /* Centraliza verticalmente os filhos */
}

.container_title_input {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente os filhos */
    align-items: left;
    width: 90%;
    gap: 8px;

}

.input_box {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3D348B;
    border-radius: 4px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s ease;  
}

.toggle_form {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
  }
  
  .toggle_form:hover {
    text-decoration: underline;
  }


