/* Container principal para seleção de filmes */
.container_movie_selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 8vh;
}

/* Contêiner do filme */
#conteinerFilme {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  width: 270px; 
  max-height: 85vh;
  text-align: center;
  border: 2px solid #161616;
  overflow: hidden; 
}

#filmeSelection {
  width: 270px;
  height: 60vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  object-position: center 90%; 
  margin: 0;
}

/* Seção de seleção */
.selecao {
  background-color: #161616;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px; 
  margin-top: -20px;
  padding: 10px 10px; 
  padding-top: 0;
}

/* Título do filme */
h3 {
  font-size: 1em;
  color: #ffffff;
  padding: 15px;
}

/* Texto da pergunta */
.selecao p {
  font-size: 1em;
  color: #bab4b4;
}

/* Estilos dos botões de seleção */
.botoes-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.botao-selecao {
  flex: 1; 
  min-width: 20%; 
  height: 45px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 6px;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid black;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Efeito ao passar o mouse */
.botao-selecao:hover,
.botao-selecao.clicado {
  background-color: #161616;
  border-color: blueviolet;
  color: blueviolet;
}

/* Efeito ao clicar */
.botao-selecao:active {
  transform: scale(0.95);
}

.indicador {
  padding-top: 10px;
}
