.container_runtime_selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: 96vw;
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

/* Seção esquerda */
.left-section_tempo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  padding: 5px;
}

/* Título da seção esquerda */
.title {
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  line-height: 1.2;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10px;
}

/* Seção direita */
.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  height: 100%;
  position: relative;
  padding: 5px;
}

/* Linha do timeline */
.timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  position: relative;
  margin-bottom: 20px;
}

/* Linha do timeline entre os pontos */
.timeline::after {
  content: "";
  position: absolute;
  top: 50%; /* Alinha a linha verticalmente no centro */
  left: calc(12px + 20px); /* Começa após a primeira bolinha */
  right: calc(12px + 20px); /* Termina antes da última bolinha */
  height: 4px; /* Espessura da linha */
  background-color: black;
  transform: translateY(-50%);
  z-index: 0; /* Linha sempre atrás */
}

/* Ponto de tempo no timeline */
.time-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1; /* Bolinhas sempre na frente */
}

/* Estilo do ponto de tempo antes de ser selecionado */
.time-point::before {
  content: "";
  width: 4vh;
  height: 4vh;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%; /* Centraliza a bolinha na linha */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Estilo do ponto de tempo quando selecionado */
.time-point.selected::before {
  background-color: #007bff;
  width: 4vh;
  height: 4vh;
  border: 3px solid black;
}

/* Rótulo de cada ponto de tempo */
.time-label {
  margin-top: 10vh; /* Aumenta a distância do texto em relação à bolinha */
  font-size: 1.3rem;
  text-align: center;
  color: black;
}

/* Botões de navegação à esquerda e à direita */
.nav-button-left, .nav-button-right {
  position: absolute;
  bottom: 60px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button-left {
  left: 100px;
}

.nav-button-right {
  right: 100px;
}

/* Efeito de hover para os botões de navegação */
.nav-button-left:hover, .nav-button-right:hover {
  background-color: #444;
}
