/* Container principal */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; /* Reduzi o padding */
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    border-radius: 8px; /* Bordas levemente reduzidas */
    height: 90vh; /* Reduzi a altura para 90% da viewport */
    width: 100vw; /* Reduzi a largura para 90% da viewport */
    justify-content: center;
    max-width: 1200px;
}

/* Contêiner do filme */
#conteinerFilme {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px; /* Bordas levemente reduzidas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombras um pouco menores */
    padding: 15px; /* Reduzi o padding */
    width: 280px; /* Reduzi a largura */
    text-align: center;
    border: 1px solid #868686; /* Bordas mais finas */
}

/* Imagem do filme */
#filmeSelection {
    width: 100%;
    height: auto;
    border-radius: 6px; /* Bordas levemente reduzidas */
    object-fit: cover;
}

/* Título do filme */
h3 {
    font-size: 1.4em; /* Tamanho do título reduzido */
    color: #0f0f0f;
    margin: 10px 0;
}

/* Texto da pergunta */
#pergunta p {
    font-size: 1em; /* Texto levemente menor */
    color: #555;
}

/* Contêiner dos botões */
#pergunta div {
    display: flex;
    justify-content: space-around;
    gap: 10px; /* Espaço entre os botões reduzido */
}

/* Botões de seleção */
.botao-selecao {
    margin-top: 10px;
    padding: 10px 20px; /* Reduzi o padding */
    background-color: black;
    color: white;
    border-radius: 6px; /* Bordas menores */
    font-size: 0.9em; /* Fonte ligeiramente menor */
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100px; /* Largura menor */
    border: 2px solid black; /* Bordas mais finas */
}

.botao-selecao:hover {
    background-color: #ffffff;
    border-color: black; /* Mantém a borda preta no hover */
    color: black; /* Muda a cor da fonte para preto no hover */
}

.botao-selecao:focus {
    outline: none;
    color: black; /* Cor da fonte quando o botão está em foco */
}

/* Efeitos visuais ao passar o mouse */
.botao-selecao:active {
    transform: scale(0.95); /* Redução ligeiramente maior ao clicar */
}
