.central{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}
.titulo {
    font-size: 4.5em;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}
.lado_esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    padding: 5px;
}
h1 {
    font-size: 4.5em;
    text-align: center;
    margin-bottom: 20px;
}
.lado_direito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;
    padding: 5px;
    position: relative;
}
.row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 70px;
    width: 350px;
}

.button-option {
    width: 300px; /* Largura fixada */
    height: 60px; /* Altura fixada */
    color: black;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 8px;
    background-color: #fff;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button-option-livre,
.button-option-10,
.button-option-12,
.button-option-14,
.button-option-16,
.button-option-18 {
    width: 200px; /* Largura fixada */
    height: 60px; /* Altura fixada */
    color: white;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button-option-livre {
    background-color: green;
}

.button-option-10 {
    background-color: blue;
}

.button-option-12 {
    background-color: rgba(255,204,0,255);
}

.button-option-14 {
    background-color: rgb(248,132,36);
}

.button-option-16 {
    background-color: red;
}

.button-option-18 {
    background-color: black;
}

.button-option:hover {
    background-color: #f0f0f0;
}