:root {
    --col-1: #161616;
    --cor-2: #1c1c1c;
    --cor-3: #c74a3b;
    --cor-4: #a23326;
    --cor-5: #639374;
    --cor-6: #917165;
    --cor-7: #ad8175;
}


body {
    margin: 0; /* Remover margens externas */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    background-color: var(--cor-2);
    /* background-color:#1a0f28; */
}

* {
    margin: 0;
    box-sizing: border-box;
}
