/* InfoFilmes.css */

/* Contêiner principal */
#conteiner-infofilmes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    color: #000000; /* Texto preto */
}

/* Estilo da seção principal */
.InfoFilme {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    background-color: #f8f8f8; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    border: 1px solid #868686; 

}

/* Estilo do poster */
#poster {
    flex-shrink: 0;
}

#poster img {
    width: 30vh;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Estilo da seção de informações */
#infos-infofilmes {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo da sinopse */
#sinopse {
    margin-bottom: 10px;
}

#titulo {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000; /* Título em preto */
    margin-bottom: 10px;
}

#sinopse-texto {
    font-size: 1em;
    line-height: 1.5;
    color: #333333; /* Texto em cinza escuro para leitura confortável */
    text-align: justify;
}

/* Estilo dos detalhes */
#detalhes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.9em;
    color: #333333; /* Texto dos detalhes em cinza escuro */
}

/* Estilo do contêiner de pergunta */
#pergunta-container {
    margin-top: 10px; /* Espaçamento reduzido */
    text-align: center;
}

/* Estilo do contêiner interno da pergunta */
#pergunta-infofilmes {
    padding: 20px;
    border-radius: 8px;
}

/* Texto da pergunta */
#pergunta-infofilmes p {
    font-size: 1.2em;
    font-weight: bold;
    color: #000000; /* Texto preto */
    margin-bottom: 15px;
}

/* Botões de resposta */
#botoes-infofilmes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.botao-infofilmes {
    background-color: #000000;
    color: white;
    border: none;
    padding: 2vh 3vh;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3vh;
    width: 15vh;
    font-weight: bold;
}

.botao-infofilmes:hover {
    background-color: #ffffff;
    color: #000000; 
    border: 2px solid #000000; 
}

.botao-infofilmes:active {
    background-color: #e0e0e0; 
    color: #000000;

}
