/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do HTML e body */
html, body {
    width: 100%;
    height: 100%;
    background-color: #ffffff; 
    color: #000000; 
    font-family: Arial, sans-serif; 
}

/* Estilo da NavBar */
#navBar {
    background-color: #ffffff; 
    color: #000000; 
    padding: 10px;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-bottom: 1px solid #868686; 
}

/* Título na NavBar */
#navBar h1 {
    margin: 0;
    font-family: "Alfa Slab One", serif;
    font-style: normal;
    font-size: 30px;
    color: #000000; 
}

/* Corpo da página com espaço após a NavBar */
body {
    padding-top: 60px; 
}

footer {
    background-color: #ffffff; 
    color: #000000; 
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #868686; 
}

/* Estilo do texto do rodapé */
footer p {
    margin: 0;
    font-size: 14px;
    color: #000000; 
}


